@charset "UTF-8";
/* ==================================================
layout.css / LastUpDate 2012.10.25
Copyright PicoLabs.Inc. hitomi.kondo
================================================== */


/*.searchResult {
	width:60%;
	padding:1.5em;
	margin:auto;
	background-color:#fff;
	border-radius:5px;
}
@media screen and (max-width:650px) {
.searchResult {
	width:90%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
}*/


/* ==MESSAGE AREA
================================================== */
.msgArea {color:#c00;}


/* ==RHETOLO SEARCH FORM
================================================== */
.rhcodeinputForm {
	margin-bottom:0.5em;
	padding:1em;
	border:2px solid #e47e00;
	border-radius:6px;
	text-align:center;
}
.rhmark {
	width:5% !important;
	height:auto;
	margin-right:1%;
	vertical-align:middle;
}
.rhcodeinputForm input[type="text"] {
	width:62%;
	margin-right:1%;
	padding:1%;
	border:none;
	border-radius:5px;
	background:#ffffff; /* Old browsers */
	background:-moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:inset 0 0 2px #999;
	-webkit-box-shadow:inset 0 0 2px #999;
	-o-box-shadow:inset 0 0 2px #999;
	-ms-box-shadow:inset 0 0 2px #999;
	box-shadow:inset 0 0 2px #999;

	font-size:120%;
	vertical-align:middle;
	text-indent:0.25em;
}
.rhcodeinputForm input[type="submit"] {
	width:27%;
	padding:1%;
	border:1px solid #666;
	border-radius:5px;
	background:#e2e2e2; /* Old browsers */
	background:-moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	
	font-size:87.5%;
	vertical-align:middle;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:930px) {
.rhcodeinputForm input[type="submit"] {
	width:50%;
}
}

/* ==SEARCH RESULT
================================================== */
/* >> OPEN SMARTPHONE APLLI */
.openSpAppli {
	margin:0 auto 2em;
}
	.openSpAppli a {
		display:block;
		width:70%;
		margin:auto;
		padding:1em;
		border:1px #acb3ba solid;
		border-radius:4px;
		
		background:#fefefe; /* Old browsers */
		background:-moz-linear-gradient(top, #fefefe 0%, #e9ecef 50%, #dadde3 51%, #c4c8cd 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#e9ecef), color-stop(51%,#dadde3), color-stop(100%,#c4c8cd)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, #fefefe 0%,#e9ecef 50%,#dadde3 51%,#c4c8cd 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, #fefefe 0%,#e9ecef 50%,#dadde3 51%,#c4c8cd 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top, #fefefe 0%,#e9ecef 50%,#dadde3 51%,#c4c8cd 100%); /* IE10+ */
		background:linear-gradient(to bottom, #fefefe 0%,#e9ecef 50%,#dadde3 51%,#c4c8cd 100%); /* W3C */
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#c4c8cd',GradientType=0 ); /* IE6-9 */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	
		color:#333;
		text-align:center;
		text-decoration:none;
		text-shadow:1px 1px 1px #fff;
		cursor:pointer;
	}

/* >> HISTORY TOPIC PATH */
.rlinkHistory {
	margin-bottom:1em;
	padding:0.5em;
	background-color:#444;
	color:#ccc;
}
.rlinkHistory a {
	padding:0 0.5em;
	background:#ffffff; /* Old browsers */
	background:-moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	color:#333;
}

/* ==MENU ITEM LIST
================================================== */
.detailRhcode {
	padding:1em 0;
	background-color:#eee;
}
	.detailRhcode .siteicon {
		display:block;
		float:left;
		width:22%;
		text-align:center;
	}
	.detailRhcode .permission {
		display:block;
		width:13%;
		text-align:center;
	}
	.detailRhcode .title {
		float:right;
		width:65%;
	}
	.detailRhcode .title h1 {
		margin-bottom:0.5em;
		font-weight:bold;
		font-size:100%;
	}
	.detailRhcode .title h2 {
		font-weight:normal;
		font-size:87.5%;
	}

	.menuItemList {
		margin-bottom:1.5em;
	}
	.menuItemList ul {
		border-top:1px solid #ccc;
	}
	.menuItemList li {
		list-style:none !important;
		border-bottom:1px solid #ccc;
		background-color:#fff;
	}
	.menuItemList .menuSelect {
		display:block;
		background:#ffffff; /* Old browsers */
		background:-moz-linear-gradient(top,  #ffffff 71%, #ededed 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(71%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  #ffffff 71%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  #ffffff 71%,#ededed 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  #ffffff 71%,#ededed 100%); /* IE10+ */
		background:linear-gradient(to bottom,  #ffffff 71%,#ededed 100%); /* W3C */
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
		color:#333;
	}
	.menuItemList .menuicon {
		display:inline-block;
		width:22%;
		vertical-align:middle;
		text-align:center;
	}
	.menuItemList .permission {
		display:inline-block;
		width:13%;
		vertical-align:middle;
		text-align:center;
	}
	.menuItemList .title {
		display:inline-block;
		width:65%;
		font-size:100%;
		line-height:1.4;
		vertical-align:middle;
	}
	.menuItemList .title a {
		display:block;
		color:#333;
		font-weight:bold;
	}
	.menuItemList .permission img,
	.menuItemList .menuicon img {
		max-width:100%;
		width:auto;
		height:auto;
	}


/* ==CLEARFIX (micro clearfix)----------------- */
.clrFix:before, .clrFix:after {
     content:"";
     display:table;
}
.clrFix:after {clear:both;}
.clrFix {zoom:1;} /* for IE6-7 (trigger hasLayout) */

